@import './includes/_variables.scss';

.home {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  overflow: hidden;
  &_head {
    width: 480px;
    border-right: 2px solid $COLOR_DARK_BLUE;
    position: relative;
    overflow: hidden;
    &_scroll {
      padding: 24px;
      width: calc(480px + 16px);
      height: 100%;
      overflow-y: scroll;
    }
  }
  &_body {
    width: calc(100% - 480px);
    background-color: $COLOR_WHITE;
    position: relative;
    overflow: hidden;
    &_scroll {
      padding: 24px;
      width: calc(100% + 16px);
      height: 100%;
      overflow-y: scroll;
    }
  }
}

.search {
  position: relative;
  z-index: 2;
  &_text {
    padding: 8px 0;
    width: 100%;
    background-color: $COLOR_WHITE;
    border-radius: 4px;
    &::placeholder {
      color: rgba($COLOR_DARK_BLUE, 0.25);
    }
  }
  &_results {
    box-sizing: border-box;
    width: 100%;
    color: $COLOR_DARK_BLUE;
    background-color: $COLOR_WHITE;
    border-right: 2px solid $COLOR_DARK_BLUE;
    border-bottom: 2px solid $COLOR_DARK_BLUE;
    border-left: 2px solid $COLOR_DARK_BLUE;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 34px;
    left: 0;
    &_item {
      padding: 24px;
      cursor: pointer;
      border-top: 2px solid $COLOR_DARK_BLUE;
      span {
        margin: 0 0 0 8px;
        color: rgba($COLOR_DARK_BLUE, 0.5);
        font-size: 12px;
      }
    }
  }
}

.friends {
  margin: 24px 0 0 0;
  position: relative;
  z-index: 1;
  &_item {
    padding: 24px 0;
    color: $COLOR_DARK_BLUE;
    cursor: pointer;
    position: relative;
    & + & {
      border-top: 1px solid rgba($COLOR_DARK_BLUE, 0.25);
    }
    &::after {
      content: "";
      display: block;
      width: calc(100% + 48px);
      height: 100%;
      background-image: $GRADIENT_BLUE;
      position: absolute;
      top: 0;
      left: -24px;
      z-index: -1;
      transition: 0.2s;
      opacity: 0;
    }
    &_current {
      color: $COLOR_WHITE;
    }
    &_current::after {
      opacity: 1;
    }
  }
}

.chat {
  &_messages {

  }
}

.messages {
  padding: 0 0 104px;
  position: relative;
  z-index: 1;
  &_item {
    & + & {
      margin: 8px 0 0 0;
    }
    &_left {
      text-align: left;
    }
    &_right {
      text-align: right;
    }
    &_content {
      padding: 8px 16px;
      display: inline-block;
      border-radius: 24px;
      line-height: 1.6;
      text-align: left;
    }
    &_left > &_content {
      color: $COLOR_BLACK;
      box-shadow: 0px 2px 4px rgba($COLOR_BLACK, 0.25);
    }
    &_right > &_content {
      color: $COLOR_WHITE;
      background-image: $GRADIENT_BLUE;
      box-shadow: 0px 2px 4px rgba($COLOR_DARK_BLUE, 0.25);
    }
  }
}

.chat {
  width: calc(100% - 480px);
  display: flex;
  justify-content: space-between;
  background-color: $COLOR_DARK_BLUE;
  border-top: 2px solid $COLOR_DARK_BLUE;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  &_text {
    padding: 24px;
    width: calc(100% - 96px);
    height: 96px;
    background-color: $COLOR_WHITE;
    &::placeholder {
      color: rgba($COLOR_DARK_BLUE, 0.25);
    }
  }
  &_button {
    width: 96px;
    height: 96px;
    color: $COLOR_WHITE;
    background-image: $GRADIENT_BLUE;
    position: relative;
    span {
      display: inline-block;
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.caution {
  padding: 8px 24px;
  display: inline-block;
  color: $COLOR_WHITE;
  background-image: $GRADIENT_BLUE;
  border-radius: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}